*{
    margin: 0;
    padding: 10px;
    
}
h2{
    text-align: center;
}
div {
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 800px;
    
}
input {
    margin-right: 10px;
}